*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

/* Media Quaries */
@media(max-width: 998px){
    html{
        font-size: 55%;
    }
}

@media(max-width: 768px){
    html{
        font-size: 45%;
    }
    nav{
        width: 200%;
    }
}

body{
    background: #efefef;
}

.logo{
    size: 1.0rem;
}

/* Navigation Bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: .5rem 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    width: 8.0rem;
    margin-right: 4.5rem;
}

.nav-left h1{
    margin-left: -6.0rem;
    margin-top: 1.0rem;
    margin-right: 3.0rem;
    font-weight: 800;
    font-size: xx-large;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 2.8rem;
    margin: 0 1.5rem;
}

.search-box img{
    width: 2.8rem;
    margin: 0 1.5rem;
}

.nav-user-icon img{
    width: 4.0rem;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon{
    margin: 3.0rem;
}

.search-box{
    background: #efefef;
    width: 24.0rem;
    border-radius: 2.0rem;
    display: flex;
    align-items: center;
    padding: 0 1.5rem;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 1.0rem;
    outline: none;
    border: 0;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: .7rem;
    height: .7rem;
    border: .2rem solid #fff;
    border-radius: 50%;
    background: #41bd51;
    position: absolute;
    top: 0;
    right: 0;
}

/* Left,Center,Right Column */
.container{
    display: flex;
    justify-content: space-between;
    padding: 1.3rem 5%;
}

/* Left Sidebar */
.left-sidebar{
    margin-top: 2.0rem;
    flex-basis: 25%;
    position: sticky;
    top: 7.0rem;
    align-self: flex-start;
    font-size: 1.6rem;
}

.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 7.0rem;
    align-self: flex-start;
    background: #fff;
    padding: 2.0rem;
    border-radius: .4rem;
    color: #626262;
    font-size: 1.6rem;
}

.main-content{
    flex-basis: 47%;
    font-size: 1.6rem;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 3.0rem;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 2.5rem;
    margin-right: 1.5rem;
}

.imp-links a:last-child{
    color: #1876f2;
}

.imp-links{
    border-bottom: .1rem solid #ccc;
}

.shortcut-links a img{
    width: 4.0rem;
    border-radius: .4rem;
    margin-right: 1.5rem;
}

.shortcut-links p{
    margin: 2.5rem 0;
    color: #626262;
    font-weight: 500;
}

/* Right Sidebar */
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.8rem;
}

.right-sidebar h4{
    font-weight: 600;
    font-size: 1.6rem;
}

.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 1.2rem;
}

.event{
    display: flex;
    font-size: 1.4rem;
    margin-bottom: 2.0rem;
}

.left-event{
    border-radius: 1.0rem;
    height: 6.5rem;
    width: 6.5rem;
    margin-right: 1.5rem;
    padding-top: 1.0rem;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 1.2rem;
}

.event a{
    font-size: 1.2rem;
    text-decoration: none;
    color: #1876f2;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 1.3rem;
    padding: .4rem 0;
}

.sidebar-ads{
    width: 100%;
    margin-bottom: 2.0rem;
    border-radius: .4rem;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 2.0rem;
}
.online-list .online img{
    width: 4.0rem;
    border-radius: 50%;
}
.online-list .online{
    width: 4.0rem;
    border-radius: 50%;
    margin-right: 1.5rem;
}

.online-list .online::after{
    top: unset;
    bottom: .5rem;
}

/* Main Content */
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.0rem;
}

.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-1.png);
    background-size: cover;
    border-radius: 1.0rem;
}

.story img{
    position: absolute;
    width: 4.5rem;
    border-radius: 50%;
    top: 1.0rem;
    left: 1.0rem;
    border: .5rem solid #1876f2;
}

.story p{
    position: absolute;
    bottom: .5rem;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 1.4rem;
}

.story-1{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-1.png);    
}

.story-2{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-2.png);    
}

.story-3{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-3.png);    
}

.story-4{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-4.png);    
}

.story-5{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-5.png);    
}

.story img{
    top: unset;
    left: 20%;
    bottom: 2.0rem;
    transform: translateX(-50%);
}

.story.story-1 img{
    top: unset;
    left: 50%;
    bottom: 3.0rem;
    transform: translateX(-50%);
    border: 0;
}

.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: .6rem;
    padding: 2.0rem;
    color: #626262;
}

/* IMAGE SLIDER */
.slider{
    border-radius: .6rem;
    margin-top: 2.0rem;
    width: 65.0rem;
    height: 50.0rem;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    background: #23E3C9;
}
.slides{
    width: 500%;
    height: 50.0rem;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 1s;
}
.slide img{
    width: 65.0rem;
    height: 50.0rem;
}
.navigation-manual{
    position: absolute;
    width: 80.0rem;
    margin-top: -4.0rem;
    margin-bottom: 2.0rem;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: .2rem solid #40D3DC;
    padding: .5rem;
    border-radius: 1.0rem;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 4.0rem;
}
.manual-btn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
#radio9:checked ~ .first{
    margin-left: -160%;
}
#radio10:checked ~ .first{
    margin-left: -180%;
}


.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.0rem;
}

.user-profile p{
    margin-bottom: -.5rem;
    font-weight: 500;
    color: #626262;
}

.user-profile small{
    font-size: 1.2rem;
}

.post-input-container{
    padding-left: 5.5rem;
    padding-top: 2.0rem;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: .1rem solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 1.0rem;
}

.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 3.0rem;
    font-size: 1.3rem;
}

.add-post-links a img{
    width: 2.0rem;
    margin-right: 1.0rem;
}

.post-container{
    width: 100%;
    background: #fff;
    border-radius: .6rem;
    padding: 2.0rem;
    color: #626262;
    margin: 2.0rem 0;
}

.user-profile span{
    font-size: 1.3rem;
    color: #9a9a9a;
}

.post-text{
    color: #9a9a9a;
    margin: 1.5rem 0;
    font-size: 1.5rem;
}

.post-text span{
    color: #626262;
    font-weight: 500;
}

.post-text a{
    color: #1876f2;
    text-decoration: none;
}

.post-img{
    width: 100%;
    border-radius: .4rem;
    margin-bottom: .5rem;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img{
    width: 1.8rem;
    margin-right: 1.0rem;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 3.0rem;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 2.0rem;
    border-radius: 50%;
    margin-right: .5rem;
}

.post-row a{
    color: #9a9a9a;
}

.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: .5rem 1.0rem;
    border: .1rem solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: .4rem;
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 1.0rem 0 2.0rem;
    font-size: 1.3rem;
}

.back-to-top a{
    display: flex;
    justify-content: center;
    color: #9a9a9a;
    padding: 0 0 2.0rem;
    font-size: 1.3rem;
    text-decoration: none;
    font-weight: 700;    
}

.setting-menu{
    position: absolute;
    width: 90%;
    max-width: 35.0rem;
    background: #fff;
    box-shadow: 0 0 1.0rem rgba(0, 0, 0, 0.4);
    border-radius: .4rem;
    overflow: hidden;
    top: 80%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
    font-size: 1.6rem;
}

.setting-menu-height{
    max-height: 45.0rem;
}

.user-profile a{
    text-decoration: none;
    font-size: 1.2rem;
    color: #1876f2;
}

.setting-menu-inner{
    padding: 2.0rem;
}

.setting-menu hr{
    border: 0;
    height: .1rem;
    background: #9a9a9a;
    margin: 1.5rem 0;
}

.setting-links{
    display: flex;
    align-items: center;
    margin: 1.5rem 0;
}

.setting-links .setting-icon{
    width: 3.8rem;
    margin-right: 1.0rem;
    border-radius: 50%;
}

.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}