*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: #efefef;
}

.logo{
    size: 10px;
}

/* Navigation Bar */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1876f2;
    padding: 5px 5%;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    width: 80px;
    margin-right: 45px;
}

.nav-left h1{
    margin-left: -60px;
    margin-top: 10px;
    margin-right: 30px;
    font-weight: 800;
    font-size: xx-large;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
}

.nav-left ul li img{
    width: 28px;
    margin: 0 15px;
}

.search-box img{
    width: 28px;
    margin: 0 15px;
}

.nav-user-icon img{
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-user-icon{
    margin: 30px;
}

.search-box{
    background: #efefef;
    width: 240px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

.search-box input{
    width: 100%;
    background: transparent;
    padding: 10px;
    outline: none;
    border: 0;
}

.online{
    position: relative;
}

.online::after{
    content: '';
    width: 7px;
    height: 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    background: #41bd51;
    position: absolute;
    top: 0;
    right: 0;
}

/* Left,Center,Right Column */
.container{
    display: flex;
    justify-content: space-between;
    padding: 13px 5%;
}

/* Left Sidebar */
.left-sidebar{
    margin-top: 20px;
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
}

.right-sidebar{
    flex-basis: 25%;
    position: sticky;
    top: 70px;
    align-self: flex-start;
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    color: #626262;
}

.main-content{
    flex-basis: 47%;
}

.imp-links a, .shortcut-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    color: #626262;
    width: fit-content;
}

.imp-links a img{
    width: 25px;
    margin-right: 15px;
}

.imp-links a:last-child{
    color: #1876f2;
}

.imp-links{
    border-bottom: 1px solid #ccc;
}

.shortcut-links a img{
    width: 40px;
    border-radius: 4px;
    margin-right: 15px;
}

.shortcut-links p{
    margin: 25px 0;
    color: #626262;
    font-weight: 500;
}

/* Right Sidebar */
.sidebar-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
}

.right-sidebar h4{
    font-weight: 600;
    font-size: 16px;
}

.sidebar-title a{
    text-decoration: none;
    color: #1876f2;
    font-size: 12px;
}

.event{
    display: flex;
    font-size: 14px;
    margin-bottom: 20px;
}

.left-event{
    border-radius: 10px;
    height: 65px;
    width: 65px;
    margin-right: 15px;
    padding-top: 10px;
    text-align: center;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.event p{
    font-size: 12px;
}

.event a{
    font-size: 12px;
    text-decoration: none;
    color: #1876f2;
}

.left-event span{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #1876f2;
    color: #fff;
    font-size: 13px;
    padding: 4px 0;
}

.sidebar-ads{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 4px;
}

.online-list{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.online-list .online img{
    width: 40px;
    border-radius: 50%;
}
.online-list .online{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.online-list .online::after{
    top: unset;
    bottom: 5px;
}

/* Main Content */
.story-gallery{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.story{
    flex-basis: 18%;
    padding-top: 32%;
    position: relative;
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-1.png);
    background-size: cover;
    border-radius: 10px;
}

.story img{
    position: absolute;
    width: 45px;
    border-radius: 50%;
    top: 10px;
    left: 10px;
    border: 5px solid #1876f2;
}

.story p{
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

.story-1{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-1.png);    
}

.story-2{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-2.png);    
}

.story-3{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-3.png);    
}

.story-4{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-4.png);    
}

.story-5{
    background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)), url(Images/status-5.png);    
}

.story img{
    top: unset;
    left: 20%;
    bottom: 20px;
    transform: translateX(-50%);
}

.story.story-1 img{
    top: unset;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    border: 0;
}

.write-post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
}

/* IMAGE SLIDER */
.slider{
    border-radius: 6px;
    margin-top: 20px;
    width: 650px;
    height: 500px;
    overflow: hidden;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: flex-end;
    background: #23E3C9;
}
.slides{
    width: 500%;
    height: 500px;
    display: flex;
}
.slides input{
    display: none;
}
.slide{
    width: 20%;
    transition: 1s;
}
.slide img{
    width: 650px;
    height: 500px;
}
.navigation-manual{
    position: absolute;
    width: 800px;
    margin-top: -40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}
.manual-btn{
    border: 2px solid #40D3DC;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}
.manual-btn:not(:last-child){
    margin-right: 40px;
}
.manual-btn:hover{
    background: #40D3DC;
}
#radio1:checked ~ .first{
    margin-left: 0;
}
#radio2:checked ~ .first{
    margin-left: -20%;
}
#radio3:checked ~ .first{
    margin-left: -40%;
}
#radio4:checked ~ .first{
    margin-left: -60%;
}
#radio5:checked ~ .first{
    margin-left: -80%;
}
#radio6:checked ~ .first{
    margin-left: -100%;
}
#radio7:checked ~ .first{
    margin-left: -120%;
}
#radio8:checked ~ .first{
    margin-left: -140%;
}
#radio9:checked ~ .first{
    margin-left: -160%;
}
#radio10:checked ~ .first{
    margin-left: -180%;
}


.user-profile{
    display: flex;
    align-items: center;
}

.user-profile img{
    width: 45px;
    border-radius: 50%;
    margin-right: 10px;
}

.user-profile p{
    margin-bottom: -5px;
    font-weight: 500;
    color: #626262;
}

.user-profile small{
    font-size: 12px;
}

.post-input-container{
    padding-left: 55px;
    padding-top: 20px;
}

.post-input-container textarea{
    width: 100%;
    border: 0;
    outline: 0;
    border-bottom: 1px solid #ccc;
    background: transparent;
    resize: none;
}

.add-post-links{
    display: flex;
    margin-top: 10px;
}

.add-post-links a{
    text-decoration: none;
    display: flex;
    align-items: center;
    color: #626262;
    margin-right: 30px;
    font-size: 13px;
}

.add-post-links a img{
    width: 20px;
    margin-right: 10px;
}

.post-container{
    width: 100%;
    background: #fff;
    border-radius: 6px;
    padding: 20px;
    color: #626262;
    margin: 20px 0;
}

.user-profile span{
    font-size: 13px;
    color: #9a9a9a;
}

.post-text{
    color: #9a9a9a;
    margin: 15px 0;
    font-size: 15px;
}

.post-text span{
    color: #626262;
    font-weight: 500;
}

.post-text a{
    color: #1876f2;
    text-decoration: none;
}

.post-img{
    width: 100%;
    border-radius: 4px;
    margin-bottom: 5px;
}

.post-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.activity-icons div img{
    width: 18px;
    margin-right: 10px;
}

.activity-icons div{
    display: inline-flex;
    align-items: center;
    margin-right: 30px;
}

.post-profile-icon{
    display: flex;
    align-items: center;
}

.post-profile-icon img{
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
}

.post-row a{
    color: #9a9a9a;
}

.load-more-btn{
    display: block;
    margin: auto;
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #9a9a9a;
    color: #626262;
    background: transparent;
    border-radius: 4px;
}

.footer{
    text-align: center;
    color: #9a9a9a;
    padding: 10px 0 20px;
    font-size: 13px;
}

.back-to-top a{
    display: flex;
    justify-content: center;
    color: #9a9a9a;
    padding: 0 0 20px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 700;    
}

.setting-menu{
    position: absolute;
    width: 90%;
    max-width: 350px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: 4px;
    overflow: hidden;
    top: 80%;
    right: 5%;
    max-height: 0;
    transition: max-height 0.3s;
}

.setting-menu-height{
    max-height: 450px;
}

.user-profile a{
    text-decoration: none;
    font-size: 12px;
    color: #1876f2;
}

.setting-menu-inner{
    padding: 20px;
}

.setting-menu hr{
    border: 0;
    height: 1px;
    background: #9a9a9a;
    margin: 15px 0;
}

.setting-links{
    display: flex;
    align-items: center;
    margin: 15px 0;
}

.setting-links .setting-icon{
    width: 38px;
    margin-right: 10px;
    border-radius: 50%;
}

.setting-links a{
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    color: #626262;
}