*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    background-color: rgb(198,152,241);
    padding: 23px;
    margin: auto;
}
.container h2,p{
    text-align: center;
}
input, textarea{
    border: 2px solid black;
    border-radius: 6px;
    outline: none;
    width: 80%;
    margin: 11px 0px;
    padding: 7px;
    font-size: 20px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    color: white;
    background: purple;
    padding: 8px 12px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 14px;
    cursor: pointer;
}